[package]
name = "library-package"
version.workspace = true
edition.workspace = true
description.workspace = true
documentation.workspace = true
repository.workspace = true
license.workspace = true

[dependencies]
macro-package.workspace = true

[lints]
workspace = true
